@font-face
    font-family: 'Druk Wide'
    src: local('Druk'),
    url('../fonts/DrukWideHeavy.woff2') format('woff2'),
    url('../fonts/DrukWideHeavy.woff') format('woff')
    font-display: swap
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Montserrat'
    src: local('Montserrat'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff')
    font-display: swap
    font-weight: normal
    font-style: normal